  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 217.50 80.00% 98.04%;
      --foreground: 214.29 84.00% 4.90%;

      --primary: 214.29 83.33% 49.41%;
      --primary-foreground: 0.00 0.00% 100.00%;

      --card: 217.50 80.00% 98.04%;
      --card-foreground: 214.29 84.00% 4.90%;

      --popover: 0.00 0.00% 100.00%;
      --popover-foreground: 214.29 84.00% 4.90%;

      --secondary: 28.42 97.44% 54.12%;
      --secondary-foreground: 0.00 0.00% 100.00%;

      --muted: 214.29 84.00% 95.10%;
      --muted-foreground: 0.00 0.00% 40.00%;
      
      --accent: 214.29 84.00% 95.10%;
      --accent-foreground: 214.29 83.33% 49.41%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 0.00 0.00% 90.20%;
      --input: 0.00 0.00% 90.20%;
      --ring: 214.29 83.33% 49.41%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 217.50 80.00% 1.96%;
      --foreground: 214.84 79.49% 92.35%;

      --primary: 214.29 83.33% 49.41%;
      --primary-foreground: 0.00 0.00% 100.00%;

      --card: 217.50 80.00% 1.96%;
      --card-foreground: 214.84 79.49% 92.35%;

      --popover: 217.50 80.00% 1.96%;
      --popover-foreground: 214.84 79.49% 92.35%;

      --secondary: 28.42 97.44% 54.12%;
      --secondary-foreground: 0.00 0.00% 100.00%;

      --muted: 217.50 13.33% 11.76%;
      --muted-foreground: 210.00 1.60% 50.98%;
      
      --accent: 214.05 84.09% 17.25%;
      --accent-foreground: 214.84 79.49% 92.35%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 0.00 0.00% 14.90%;
      --input: 0.00 0.00% 14.90%;
      --ring: 214.29 83.33% 49.41%;

      --radius: 0.5rem;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }